:host {
  --button-bg-color: rgba(0, 0, 0, 0.08);
  --button-bg-color-hover: rgba(0, 0, 0, 0.16);
  --button-bg-color-copied: rgba(0, 255, 0, 0.15);
  --font-color-copied: rgb(0, 100, 0);
}

:host-context(.dark) :host {
  --button-bg-color: rgba(255, 255, 255, 0.07);
  --button-bg-color-hover: rgba(255, 255, 255, 0.14);
  --button-bg-color-copied: rgba(0, 255, 0, 0.1);
  --font-color-copied: rgb(0, 255, 0);
}

svg-icon {
  display: contents;
}

svg {
  width: 14px;
  height: 14px;
}

.btn-clipboard {
  transition: all 250ms ease-out;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: var(--button-bg-color);
  padding: 8px;
  color: var(--main-font-color);
  line-height: 0;
}

.btn-clipboard:hover {
  background-color: var(--button-bg-color-hover);
}

.btn-clipboard:active {
  transform: scale(0.95);
}

.btn-clipboard.copied {
  background-color: var(--button-bg-color-copied);
  color: var(--font-color-copied);
}
