:host {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.step {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  --color-inactive: rgba(var(--slate-700), 1);
  --color: var(--color-inactive);
  --line-z-index: 1;

  :host-context(.dark) & {
    --color-inactive: rgba(var(--slate-600), 1);
  }

  &.completed {
    --color: rgba(var(--picton-blue-600), 1);
  }

  &.active {
    --color: rgba(var(--picton-blue-500), 1);
  }

  & .circle::before {
    content: '';
    width: 50vw;
    height: 2px;
    position: absolute;
    right: 50%;
    z-index: var(--line-z-index);
    background: linear-gradient(
      to right,
      var(--color) 0%,
      var(--color) 50%,
      var(--color-inactive) 50%
    );
    background-size: 200% 100%;
    background-position: 100% 0;

  }

  &.adjacent-active .circle::before {
    transition: background-position 0.5s ease;
  }

  &:first-child .circle::before {
    background: linear-gradient(
      to left,
      rgba(var(--picton-blue-500), 1) 24px,
      rgb(var(--color-surface-container-lowest)) 24px,
      rgb(var(--color-surface-container-lowest)) 100%
    );
  }

  /* Left-to-right fill */
  &:is(.active, .completed) .circle::before {
    background-position: 0 0;
  }

  .circle {
    background-color: var(--color);
    border-radius: 24px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;

    .step.active.adjacent-active & {
      transition: background-color 0.3s ease 0.5s;
    }

    svg {
      width: 24px;
      height: 24px;
      fill: white;

      path {
        fill: white;
      }
    }
  }

  p {
    text-align: center;
  }
}
