@for (step of steps(); track step.name; let stepNumber = $index) {
  <div class="step"
       (click)="setStep(stepNumber)"
       [class.completed]="stepNumber < currentStep()"
       [class.active]="stepNumber == currentStep()"
       [class.adjacent-active]="stepNumber == currentStep() && isAdjacent(stepNumber)"
       [style.--line-z-index]="-1 - stepNumber">
    <div class="circle">
      @if (step.icon) {
        <svg-icon [src]="step.icon" />
      } @else {
        <span>{{ stepNumber + 1 }}</span>
      }
    </div>
    <p>{{ step.name }}</p>
  </div>
}
