:host {
  display: inline-block;
  position: relative;

  --radius: 8px;
  --border: 1px;
  --ease: linear(
    0,
    0.1641 3.52%,
    0.311 7.18%,
    0.4413 10.99%,
    0.5553 14.96%,
    0.6539 19.12%,
    0.738 23.5%,
    0.8086 28.15%,
    0.8662 33.12%,
    0.9078 37.92%,
    0.9405 43.12%,
    0.965 48.84%,
    0.9821 55.28%,
    0.992 61.97%,
    0.9976 70.09%,
    1
  );
}

button, .dropdown-name {
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5rem;
}

button, .dropdown-menu {
  border: var(--border) solid rgba(var(--slate-300), 1);
  border-radius: var(--radius);
  background-color: rgba(var(--slate-100), 1);
}

:host-context(.dark) button,
:host-context(.dark) .dropdown-menu {
  border: var(--border) solid rgba(var(--slate-400), 0.15);
  background-color: #192130;
}

:is(button, .dropdown-item){
  transition: background-color, color;
  transition-duration: 0.25s;
  transition-timing-function: var(--ease, ease);

  &:hover {
    background-color: rgba(var(--slate-300), 0.7);
  }
}

:host-context(.dark) button:hover,
:host-context(.dark) .dropdown-item:hover {
  background-color: #2b3444;
}

button {
  height: 100%;
  padding: 8px 8px 8px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  margin-top: 6px;
  width: 100%;
}

.dropdown-item {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  &:first-child {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
  }

  &:last-child {
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
  }
}
