button {
  transition: background-color 200ms;
  cursor: pointer;
  border: none;
  border-radius: 80px;
  background-color: rgba(0, 0, 0, 0.07);
  padding: 12px;
  line-height: 0;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.14);
}

svg {
  width: 24px;
  height: 24px;
}

/* Dark theme styles */
:host-context(.dark) button {
  background-color: rgba(255, 255, 255, 0.08);
}

:host-context(.dark) button:hover {
  background-color: rgba(255, 255, 255, 0.16);
}
