* {
  margin: 0;
}

.dropzone {
  height: 100%;
}

.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px dashed rgba(255, 255, 255, 0.5);
  border-radius: 14px;
  background-color: #F9FAFB;
  transition: all 0.25s;

  input {
    display: none;
  }
}

.dropzone:hover {
  background-color: #F3F4F6; /* Hover color for light mode */
  border-color: #6B7280; /* Border color on hover for light mode */
}

.dropzone:active {
  background-color: #E5E7EB; /* Active color for light mode */
}

.dropzone.valid {
  background-color: rgba(var(--green-300), 0.2);
  border-color: rgba(var(--green-500), 0.4);
}

.dropzone-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 24px;
}

.dropzone-icon svg {
  width: 32px;
  height: 32px;
}

.dropzone-text-main {
  font-size: 0.875rem; /* text-sm */
  color: #6B7280; /* Gray text */
}

.dropzone-text-info {
  font-size: 0.75rem; /* text-xs */
  color: #6B7280; /* Gray text */
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  .dropzone {
    background-color: rgba(var(--slate-800), 0.6);
    border-color: rgba(255, 255, 255, 0.25);
  }

  .dropzone:hover {
    background-color: rgba(var(--slate-700), 0.6);
    border-color: rgba(255, 255, 255, 0.4);
  }

  .dropzone:active {
    background-color: #6B7280; /* Dark active color */
  }

  .dropzone.valid {
    background-color: rgba(var(--green-900), 0.4);
    border-color: rgba(var(--green-500), 0.4);
  }

  .dropzone-icon, .dropzone-text-main, .dropzone-text-info {
    color: rgb(var(--slate-100));
  }
}
