* {
  margin: 0;
}

.dropzone {
  height: 100%;
}

.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px dashed rgb(var(--slate-300));
  border-radius: 14px;
  background-color: rgb(var(--slate-50));
  transition: all 0.25s;
}

.dropzone:hover {
  background-color: rgb(var(--slate-100));
  border-color: rgb(var(--slate-400));
}

.dropzone.valid {
  background-color: rgba(var(--green-300), 0.25);
  border-color: rgba(var(--green-500), 0.5);
}

.dropzone-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 24px;
}

.dropzone-icon svg {
  width: 32px;
  height: 32px;
}

.dropzone-text-main {
  font-size: 0.875rem;
  color: rgb(var(--slate-800));
}

.dropzone-text-info {
  font-size: 0.75rem;
  color: rgb(var(--slate-700));
}

/* Dark Mode */
:host-context(.dark) {
  .dropzone {
    background-color: rgba(var(--slate-800), 0.6);
    border-color: rgba(255, 255, 255, 0.25);
  }

  .dropzone:hover {
    background-color: rgba(var(--slate-700), 0.6);
    border-color: rgba(255, 255, 255, 0.4);
  }

  .dropzone.valid {
    background-color: rgba(var(--green-900), 0.4);
    border-color: rgba(var(--green-500), 0.4);
  }
}

:host-context(.dark) .dropzone-icon,
:host-context(.dark) .dropzone-text-main {
  color: rgb(var(--slate-100));
}

:host-context(.dark) .dropzone-text-info {
  color: rgb(var(--slate-200));
}
