<label for="dropzone-file" (dragover)="dragoverHandler($event)" (drop)="dropHandler($event)"
       class="file-picker dropzone"
       [class.valid]="fileSystemHandle() !== undefined">
  <div class="dropzone-content">
    @if (pickDirectory()) {
      <svg-icon src="assets/icons/fluent-icons/ic_fluent_folder_arrow_up_32_regular.svg" class="dropzone-icon"></svg-icon>
    } @else {
      <svg-icon src="assets/icons/fluent-icons/ic_fluent_document_arrow_up_20_regular.svg" class="dropzone-icon"></svg-icon>
    }
    <p class="dropzone-text-main"><span class="font-semibold">Click to upload</span> or drag and drop</p>
    <p class="dropzone-text-info">{{ filenameHint() }}{{ pickDirectory()? ' folder' : '' }}</p>
  </div>
  @if (pickDirectory()) {
    <input id="dropzone-file" type="file" webkitdirectory/>
  } @else {
    <input id="dropzone-file" type="file"/>
  }
</label>
