:host {
  --border-top-color: rgba(var(--main-font-color), 0.1);
  border-top: 1px solid var(--border-top-color);
}

p {
  margin: 0;
}

footer {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "brand theme"
    "social social"
    "copyright copyright";
  row-gap: 20px;
  @media (width > 768px) {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas:
      "brand social theme"
      "copyright copyright copyright";
    row-gap: 16px;
  }
  align-items: center;
  margin-inline: auto;
  padding: 35px var(--horizontal-main-margin);
  max-inline-size: 2048px;
}

.brand {
  display: flex;
  grid-area: brand;
  align-items: center;
  gap: 10px;

  p {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  img {
    height: 50px;
  }
}

.social-links {
  display: flex;
  grid-area: social;
  justify-self: center;
  gap: 10px;
}

.social-links a {
  transition: background-color 200ms;
  border-radius: 6px;
  padding: 6px;
  line-height: 0;

  &:hover {
    background-color: rgba(var(--main-font-color), 0.1);
  }
}

.social {
  width: 20px;
  height: 20px;
  color: inherit;
}

app-theme-toggle {
  grid-area: theme;
  justify-self: flex-end;
}

.copyright {
  grid-area: copyright;
  justify-self: center;
  font-size: 0.75rem;
  line-height: 1rem;
}
