<footer>
  <div class="brand">
    <img src="assets/dockerfiles-logo-simplified.svg" alt="" />
    <p>pegi3s Bioinformatics<br />Docker Images Project</p>
  </div>
  <div class="social-links">
    <a href="https://twitter.com/pegi3sdocker">
      <svg-icon src="assets/icons/logos/twitter-x.svg" svgClass="social" />
    </a>
    <a href="https://www.facebook.com/pegi3sdocker/">
      <svg-icon src="assets/icons/logos/facebook.svg" svgClass="social" />
    </a>
    <a href="https://www.linkedin.com/in/pegi3s-docker-31861a196/">
      <svg-icon src="assets/icons/logos/linkedin.svg" svgClass="social" />
    </a>
    <a href="https://github.com/pegi3s/dockerfiles">
      <svg-icon src="assets/icons/logos/github.svg" svgClass="social" />
    </a>
  </div>
  <app-theme-toggle />
  <p class="copyright">Copyright © Phenotypic Evolution Group 2024</p>
</footer>
