<div class="search-animation" [class.expand]="searchClicked"></div>
<div class="outer" [class.menu-opened]="showMenu">
  <header [class.transitions-enabled]="enableTransitions" [class.scrolled]="scrolled">
    <div class="header-logo">
      <a routerLink="/">
        <svg-icon src="assets/dockerfiles-logo-simplified.svg" svgAriaLabel="logo" />
        <p class="title">pegi3s Bioinformatics Docker Images Project</p>
      </a>
    </div>
    <nav class="nav-links-top">
<!--      @for (link of links; track link.path) {-->
<!--        <a [routerLink]="[link.path]" [queryParams]="link.queryParams" [class.current]="matchPath(link)">{{ link.text }}</a>-->
<!--      }-->
    </nav>
    <div class="search-button" [class.hiding]="searchClicked" [class.hidden]="!showSearch">
      <div (click)="onSearchClick()">
        <svg-icon src="assets/icons/magnifying-glass-tilted-left.svg" svgAriaLabel="search" />
        <span>Search</span>
      </div>
    </div>
    <div class="menu-button">
      <svg-icon src="assets/icons/fluent-icons/ic_fluent_navigation_24_filled.svg" (click)="toggleMenu()" />
    </div>
  </header>
  <nav class="nav-links-menu">
<!--    @for (link of links; track link.path) {-->
<!--      <a [routerLink]="[link.path]" [queryParams]="link.queryParams" [class.current]="matchPath(link)">{{ link.text }}</a>-->
<!--    }-->
  </nav>
</div>
