section {
  margin-inline: auto;
  padding: calc(35px + var(--header-height)) var(--horizontal-main-margin) 35px;
  max-inline-size: 2048px;
}

section {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr min-content 1fr;

  /* or */
  > p {
    align-self: center;
  }
}

.file-pickers {
  display: grid;
  gap: 20px;
  grid-template-rows: 1fr 1fr 1fr;
}

button {
  padding: 0.75rem 1.25rem;
  font-family: inherit;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  text-align: center;
  color: white;
  border-radius: 8px;
  background-color: rgba(var(--picton-blue-600), 0.9);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  grid-column: 1 / span 3;

  &:hover {
    background-color: rgba(var(--picton-blue-700), 0.9);
  }
}

:host-context(.dark) .get-in-touch button {
  background-color: rgba(var(--picton-blue-500), 1);

  &:hover {
    background-color: rgba(var(--picton-blue-600), 1);
  }
}
