<!-- <div (click)="loadChildren(category)"> -->

<div class="name">
  <svg-icon src="assets/icons/fluent-icons/ic_fluent_chevron_down_24_filled.svg" class="expand"></svg-icon>
  <p>
    {{ category()?.name?.replaceAll("_", " ") }}
  </p>
  <div class="dummy"></div>
</div>
<div class="actions">
  <button (click)="removeStanza()">
    <svg-icon src="assets/icons/fluent-icons/ic_fluent_delete_16_filled.svg"></svg-icon>
  </button>
</div>

<div class="children">
  @for (category of category()?.getChildren(); track $index) {
    <app-ontology-editor-element
      [ontology]="ontology()"
      [category]="category"
      [containers]="containers()"
    />
  }
  @for (container of containers()?.get(category()?.id || ""); track $index) {
    <div class="container">
      {{ container }}
      <div class="actions">
        <button (click)="createEditContainer(container)">
          <svg-icon src="assets/icons/fluent-icons/ic_fluent_edit_16_filled.svg"></svg-icon>
        </button>
        <button (click)="removeContainer(container)">
          <svg-icon src="assets/icons/fluent-icons/ic_fluent_delete_16_filled.svg"></svg-icon>
        </button>
      </div>
    </div>
  }
  <button class="add" (click)="createEditContainer()">
    <svg-icon src="assets/icons/fluent-icons/ic_fluent_add_24_filled.svg"></svg-icon>
  </button>
</div>
